body,h1 {
    margin: 0;
    padding: 0;
}

body {
    background: navy;
    font-family: 'Courier New', Courier, monospace;
}

h1 {
    padding: 10px;
    background-color: red;
}

#studentList {
    margin: 0;
    padding: 0;
    width: 250px;
    float: left;
    border: 2px solid lightblue;
}

#studentList h2 {
    padding: 10px;
    margin: 0;
    color: whitesmoke;
}

#studentList li { 
    padding: 5px 10px;
    border-top: 2px solid salmon;
    cursor: pointer;
    color: white;
    font-style: italic;
}


#studentList li:hover {
    background: white;
}

#studentInfo {
    float: left;
    width: 250px;
    margin: 10px;
    padding: 10px;
    border: 2px solid white;
    color: white;

}
